ErrorDocument 404 /404.html

# Protect the .htaccess file

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# protect the .gitignore file

<Files .gitignore>
Order Allow,Deny
Deny from all
</Files>

# protect the README.md file

<Files README.md>
Order Allow,Deny
Deny from all
</Files>


deny from 24.126.100.183
