@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Russo+One');

body {
    background-color: rgba(35,35,35,1);
    background-size: auto;
}

a{
    color: white;
    text-decoration: none;
    text-rendering:optimizeLegibility;
}

h1	{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 3px rgb(43,43,43);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-rendering:optimizeLegibility;
}

h2	{
	color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 3px rgb(43,43,43);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

DIV.backboard {
    width: 100%;
    height: 4300px;
    border-radius: 15px;
    background: rgba(45,45,45,1);
    position: center;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

DIV.Discord {
    width: 75%;
    height: 700px;
    border-radius: 15px;
    background: rgba(26,78,193,1);
    position: center;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color:black;
    border-width: 2px;
}

DIV.content {
    width: 85%;
    height: 100px;
    border-radius: 15px;
    background: rgba(26,78,193,1);
    position: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

DIV.container {
    width: 95%;
    height: 3310px;
    border-radius: 15px;
    background: rgba(26,78,193,1);
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

DIV.Twitch-DeadlySlob {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 480px;

}

DIV.Twitch-Kixstar {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 480px;
}

DIV.Twitch-M1ndr {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 480px;
}

iframe.DeadlySlob-iframe{
    display: block;
    margin: auto;
    border:none;
    width:75%;
    height:100%;
}

iframe.Kixstar-iframe{
    display: block;
    margin: auto;
    border:none;
    width:75%;
    height:100%;
}

iframe.M1ndr-iframe{
    display: block;
    margin: auto;
    border:none;
    width:75%;
    height:100%;
}

iframe.Chat-DeadlySlob{
    padding-left: 72px;
    padding-right: 0px;
    width:50%;
}

iframe.Chat-Kixstar{
    padding-left: 72px;
    padding-right: 0px;
    width:50%;

}

iframe.Chat-M1ndr{
    padding-left: 72px;
    padding-right: 0px;
    width:50%;

}

iframe.Discord-iframe{
    display: block;
    margin: auto;
    width:90%;
    height:90%;
    padding-top:35px;

}